doctype html
html
  head
    meta(charset="UTF-8")
    title Иван Иванов
    link(href="style.css", rel="stylesheet")
  body
    .wrapper
      h2 Иван Иванов #[span.age 22]
      blockquote Слоган:
      p Биография:
