doctype html
html
  head
    meta(charset="UTF-8")
    title Заголовок

    block style
      link(href="style-1.css", rel="stylesheet")
      link(href="style-2.css", rel="stylesheet")

  body
    block content
