doctype html
html
  head
    meta(charset="UTF-8")
    title= name
    link(href="../style.css", rel="stylesheet")
  body
    .wrapper
      h2 #{name} #[span.age= calcAge(birth)]
      blockquote= slogan
      p= bio
