/* choose-city */
.choose-city {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

.choose-city__title {
    color: #0C0C0C;
    font-weight: 400;
    font-size: 18px;
    margin-right: 102px;
}

.choose-city__form {
    display: flex;
    align-items: center;
}

.choose-city__input {
    width: 334px;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    padding-left: 18px;
}

.choose-city__input::placeholder {
    opacity: 1;
    color: #B5B5B5;
    font-weight: 400;
    font-size: 17px;
}

.choose-city__submit {
    margin-left: -45px;
}

/* max-width: 600px */
@media (max-width: 600px) {
    .choose-city {
        flex-wrap: wrap;
    }
    .choose-city__title {
        margin-right: 0;
        margin-bottom: 8px;
        width: 100%;
    }
    .choose-city__search {
        width: 100%;
    }
    .choose-city__input {
        max-width: 334px;
    }
}
