/* tab__controls */
.main--yoga-studio .tab__controls {
    display: flex;
}

.main--yoga-studio .tab__controls .btn__shadow {
    margin-right: 14px;
    display: flex;
}

.tab__controls-amount {
    color: #B5B5B5;
    margin-left: 6px;
}
