/* yoga-studios-map */
.yoga-studios-map {
    display: flex;
    margin-bottom: 70px;
}

.yoga-studios-map__map {
    width: 1138px;
    height: 586px;
    flex-shrink: 0;
}

.yoga-studios-map__map img {
    width: 1138px;
    height: 586px;
}
