/* yoga-studio-title */
.yoga-studio-title {
    display: flex;
    margin-bottom: 26px;
}

.yoga-studio-title__geo {
    color: #0C0C0C;
    font-size: 32px;
    font-weight: 600;
    margin-right: 10px;
}

.yoga-studio-title__amount {
    color: #B5B5B5;
    font-size: 32px;
    font-weight: 300;
}
