include ./pug/mixins/yoga-studio-card

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Список дел
    link(href="http://yoga.cy09425.tmweb.ru/local/templates/chaturanga-3/assets/css/main.min.css?1657445222308339" rel="stylesheet")
    link(href=require('./styles.scss') rel='stylesheet')
  body

    main.main.main--yoga-studio
      .container

        .breadcrumbs
          ul.breadcrumbs__list
            li.breadcrumbs__item
              a.breadcrumbs__link(href="/") Главная
            li.breadcrumbs__item
              span.breadcrumbs__link.is-active Йога-студии

        h1.sect__title Йога-студии
        .description-layout #[span Макет №1:] Йога-студии Москва (базовая-1) и другие регионы

        .tab__controls
          a.btn__shadow.is-active(href="#") Москва #[span(class="tab__controls-amount") 44]
          a.btn__shadow(href="#") Вся Россия #[span(class="tab__controls-amount") 62]
          a.btn__shadow(href="#") СНГ #[span(class="tab__controls-amount") 12]
          a.btn__shadow(href="#") Азия #[span(class="tab__controls-amount") 8]
          a.btn__shadow(href="#") Африка #[span(class="tab__controls-amount") 5]
          a.btn__shadow(href="#") Европа #[span(class="tab__controls-amount") 6]
          a.btn__shadow(href="#") Австралия и Океания #[span(class="tab__controls-amount") 6]
          a.btn__shadow(href="#") Северная Америка #[span(class="tab__controls-amount") 6]
          a.btn__shadow(href="#") Южная Америка #[span(class="tab__controls-amount") 6]

        .choose-city
          .choose-city__title Выбрать город
          .choose-city__search
            form.choose-city__form
              input.choose-city__input(type="search" placeholder="Название")
              input.choose-city__submit(type="image" src=require("img/choose-city__submit.png"))

        .popular-cities
          .popular-cities__title Популярные города
          .popular-cities__list
            ul
              li Санкт-Петербург
              li Краснодар
              li Новороссийск
            ul
              li Казань
              li Екатеринбург
              li Рязань
            ul
              li Нижний Новгород
              li Иркутск
              li Якутск
            ul
              li Волгоград
              li Новосибирск
              li Хабаровск

        .yoga-studios-map
          .yoga-studios-map__map
            img(src=require("img/yoga-studios-map.png") width="1138" height="586")
          +yogaStudioCard("yoga-studio-card--map")

        .yoga-studio-title
          span.yoga-studio-title__geo Москва
          span.yoga-studio-title__amount 44

        .yoga-studio-card-grid
          - for (var x = 0; x < 5; x++)
            +yogaStudioCard

    script(src=require('js/scripts.js'))
