@import 'styles/description-layout';
@import 'styles/tab__controls';
@import 'styles/choose-city';
@import 'styles/popular-cities';
@import 'styles/yoga-studios-map';
@import 'styles/yoga-studio-title';
@import 'styles/yoga-studio-card-grid';
@import 'styles/yoga-studio-card';

/**
* МАКЕТ №1 : Йога-студии Москва (базовая) и другие регионы
*/

/**
* МАКЕТ №5 : Йога-студии Студия
*/
.yoga-studio-card--map {
  background-color: #fff;
  width: auto;
  min-width: 333px;
  height: auto;
  margin-right: 0;
  margin-bottom: 0;
  border-radius: 0 5px 5px 0;

  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

}
.yoga-studio-card--map .yoga-studio-card:hover {
  box-shadow: 0px 11px 35px rgba(0, 0, 0, 0.1);
}
.yoga-studio-card--map .yoga-studio-card__wrap {
  display: flex;
  flex-direction: column;
}
.yoga-studio-card--map .yoga-studio-card__image-wrap {
  margin-right: 0;
  flex-shrink: 0;
}
.yoga-studio-card--map .yoga-studio-card__image {
  border-radius: 5px;
  margin-bottom: 16px;
}

.yoga-studio-card--map .yoga-studio-card__about {
  width: 100%;
  text-align: left;
  margin-bottom: 16px;
}
.yoga-studio-card--map .yoga-studio-card__about-link {
  color: #4F4F4F;
  font-size: 18px;
  font-weight: 600;
}
.yoga-studio-card--map .yoga-studio-card__about-link:hover {
  color: #FF8C00;
}
